<div class="container ml-auto mr-auto col-md-6">

    <div *ngIf="showInfo">
        <h2 class="align-middle mb-4 text-center">
            This is a DLP PoC:<br>you stake, you get your interest in beers 🍺!<br>Find out more about Aave DLPs <a href="https://medium.com/aave/decentralized-lending-pool-dlp-protocol-launched-on-testnet-swap-between-fixed-and-variable-e72ae43992c" target="_blank" class="text-warning">here</a>.
        </h2>
    </div>

    <div *ngIf="loaded && !staked" class="text-center">
        <h2 class="align-middle mb-4">Balance: <span style="white-space: nowrap;">1 DAI <img
            src="assets/tokens/dai.svg" style="margin-top:-3px;" width="38"></span></h2>
        <button *ngIf="!stakingClicked" (click)="stake()" class="btn btn-lg btn-warning font-weight-bold">STAKE FOR BEER!</button>
        <div *ngIf="stakingClicked">
            <img src="assets/loading.svg">
            <h3>Wait ...</h3>
        </div>
    </div>

    <div *ngIf="loaded && staked && !stakingFinished" class="text-center">
        <h2 class="align-middle mb-4">Staking balance: <span style="white-space: nowrap;">1 DAI <img
            src="assets/tokens/dai.svg" style="margin-top:-3px;" width="38"></span></h2>
        <h3 *ngIf="remainingTime > 0">Time remaining: {{remainingTime | date: 'mm:ss'}}</h3>
    </div>

    <div *ngIf="loaded && staked && stakingFinished && !redeemed" class="text-center">
        <h2 class="align-middle mb-4">
            Staked balance:
        </h2>
        <h3 style="white-space: nowrap;" class="mb-5">
            1 DAI <img src="assets/tokens/dai.svg" style="margin-top:-3px;" width="38">
            1 Beer 🍺
        </h3>

        <form (ngSubmit)="f.form.valid && redeem()" name="form" #f="ngForm" novalidate>
            <div class="form-row pt-0 pb-2">
                <div class="col-12">
                    <input [(ngModel)]="receiver" class="form-control text-center" minlength="42" maxlength="42" required id="receiver" name="receiver"
                           placeholder="Ethereum Wallet Address"
                           type="text">
                </div>
            </div>

            <div *ngIf="!redeemClicked">
                <div class="p-0 mt-3">
                    <button type="submit" [disabled]="!f.form.valid" class="btn btn-lg btn-success font-weight-bold">REDEEM!</button>
                </div>
                <br/>
                <h3 class="mb-5" style="font-size: 1rem;">
                    Ask bartender to press this ^^<br/>
                    button and give you a Beer 🍺
                </h3>
            </div>
            <div *ngIf="redeemClicked">
                <img src="assets/loading.svg">
                <h3>Wait ...</h3>
            </div>
        </form>
    </div>

    <div *ngIf="loaded && redeemed" class="text-center">
        <h2 class="align-middle mb-4">
            Staking redeemed!
        </h2>
    </div>
</div>
