.loading-spinner-box {
    width: 35%;
    height: 35%;

    min-height: 300px;
    min-width: 150px;

    padding-top: 20px;

    margin: auto;
    display: block;
    vertical-align: middle;
    text-align: center;
}

h6 {

    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
}
