<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <div class="ml-auto mr-auto">
        <div class="navbar-brand">
            <img alt="Beerling Pool" height="70" src="assets/logo.svg">
        </div>
    </div>
</nav>

<div class="container h-100 d-flex justify-content-center">
    <div class="my-auto w-100">
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        <router-outlet *ngIf="!loading"></router-outlet>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light justify-content-center p-4">
    <div>
        <a target="_blank" rel="noopener noreferrer" href="https://aave.com">
            <img src="assets/aave-logo-color.svg" style="max-height: 70px;">
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://makerdao.com">
            <img class="mt-4 mt-md-0 ml-md-3" src="assets/maker-dao-logo.png" style="max-height: 70px">
        </a>
    </div>
</nav>
